/* Extra pequeno: até 393px */
@media screen and (max-width: 393px) {
  .container__big-card {
    width: 100%;
    min-width: 30rem;
    height: 25rem;
    padding-right: 5px;
    padding-left: 2.7rem;
    margin-left: 0;
  }

  .container__menu-title h1 {
    font-size: 42px;
    padding: 0 5px;
    /* Isso já deve centralizar o título automaticamente devido ao Flexbox */
  }

  .big-card__photo > a > img {
    width: 100vw;
    padding-left: 4px;
  }

  .big-card__description {
    margin-top: 5px;
    font-size: 1.2rem;
    padding-left: 25px;
    padding-right: 15px;
  }
}


/* Pequeno: 394px a 480px */
@media screen and (min-width: 394px) and (max-width: 480px) {
  .container__big-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 3rem;        /* Espaço entre os contêineres */
    box-sizing: border-box;     /* Garante que o padding não afete a largura */
  }

  .big-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .big-card__title > a {
    display: inline-block;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-size: 3rem;
  }

  .big-card__description {
    margin-top: 5px;
    font-size: 1.4rem;
  }

  .big-card__photo > a > img {
    width: 100%;
    max-width: 40rem;
  }

}

/* Médio: 481px a 576px */
@media screen and (min-width: 481px) and (max-width: 576px) {
  .container__big-card {
    width: 48.7rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza conteúdo horizontalmente */
    justify-content: flex-start;
    padding: 1rem; /* Adiciona padding para evitar que o conteúdo encoste nas bordas */
    box-sizing: border-box; /* Garante que o padding e a borda não afetem o tamanho total */
  }


  .big-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .big-card__title > a {
    display: inline-block;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-size: 3rem;
  }

  .big-card__description {
    margin-top: 5px;
    font-size: 1.4rem;
  }

  .big-card__photo > a > img {
    width: 100%;
    max-width: 40rem;
  }

}

/* Tablet pequeno: 577px a 767px */
@media screen and (min-width: 577px) and (max-width: 767px) {
  .container__big-card {
    width: 51.2rem; /* Largura do contêiner */
    height: 35rem; /* Altura do contêiner */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente dentro do contêiner */
    justify-content: flex-start; /* Alinha o conteúdo no topo do contêiner */
    margin-bottom: 0;
    padding: 15px; /* Adiciona padding dentro do contêiner */
    box-sizing: border-box; /* Garante que o padding e as bordas não aumentem o tamanho total */
  }

}


/* Tablet grande / notebook pequeno: 768px a 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container__big-card {
    width: 100%; /* 100% da largura disponível */
    height: 33rem; /* Altura fixa */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    padding: 15px; /* Se precisar de padding interno */
    box-sizing: border-box; /* Certifica que o padding e bordas não aumentem o tamanho total */
  }

  .big-card__title {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .big-card__title > a {
    display: inline-block;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-size: 2.5rem;
    margin-top: 15px;
  }

  .big-card__description {
    margin-top: 5px;
    font-size: 1.2rem;
  }

  .big-card__photo > a {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 61rem;
    margin: 0 auto;
  }

  .big-card__photo > a > img {
    width: 100%;
    max-width: 40rem;
  }
}

/* Notebooks: 992px a 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container__big-card {
    width: 100%;
    min-width: 100%;
    height: auto;
    padding: 0;
    padding-top: 0;
    padding-right: 3rem;
    margin-right: 10rem;
  }

  .container__menu-title {
    min-width: 1044px;
    width: 100%;
    margin-top: 30px;
  }

  .container__menu-title > h1 {
    font-size: 135px;
  }

  .big-card__description > a > p {
    padding-left: 1.6rem;
    padding-top: 15px;
  }

  .big-card__photo > a > img {
    width: 100%;
    padding: 0;
    margin: 25px;
    margin-top: 0;
  }
}
