:host {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Zera margens/paddings do body e html também (geralmente feito no styles.scss) */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden; /* evita quebra de layout horizontal */
}
