body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.container__articles {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto; /* ou height: 100vh se quiser ocupar a altura toda da viewport */
  box-sizing: border-box; /* garante controle do tamanho */
}
